@media (max-width: 992px) {
  #sidebarToggleBtn {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    font-size: 22px;
    background: #fff;
    border-radius: 10px;
    z-index: 10001;
  }
}

#sidebarToggleBtn.hidden-sidebar-toggle {
  display: none !important;
}

/* =========================
   GLOBAL TOAST ABOVE MODALS
========================= */

#toastContainer {
  z-index: 9999999 !important;
}

.toast,
.toast-message,
.custom-toast {
  z-index: 9999999 !important;
}
